.write-comment{
   
}
.comment{
    width: 100%;
    height:100%;
    /* background-color:aqua; */
}

.comment-container{
    display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
    align-content: center;
    margin:1% 1%;
   
}
/* .comment-container div{
    flex:4;
} */

comment-textbox{
    width: 80%;
     height: 10px;
    padding: 5px 5px;
    box-sizing: border-box;
    margin:1% 1%;
    
}


.display-comments{
    overflow: auto;
    font-size:10px;
    padding:1%;
}

@media  (min-width: 768px)  {
    /* For mobile phones: */
    .comment-textbox{
     
        width:300px;
        padding: 10px 10px;
        box-sizing: border-box;

    }

    button{
        size:
    }
    }
  
    
  
  @media (min-width: 1100px){
   .bug-text{
    font-size:25x;
    }
    .issue-main{
        margin:100px 100px;
    }
  }