.write-comment{
   
}
.comment{
    width: 100%;
    height:100%;
    /* background-color:aqua; */
}

.comment-container{
   
    /* background-color: yellow; */
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: baseline;
    align-content: center;
   
}
/* input[type=text] {
    width: 50%;
    padding: 5px 5px;
    box-sizing: border-box;
} */


.display-comments{
    overflow: auto;
    font-size:10px;
    padding:1%;
}
