

.issue-main{
    width: 100%;
    height: 100%;
    align-items: center;
    border-color: black;
    border: solid;
    background-color: pink
}
.issue-main p {
    color:black
}
.comment-box{
    border:solid grey;
}

.bug-text{
    background-color:aqua;
}

/* Style the header */
.listofbug {
  
    text-align: center;
    font-size: 20px;
    background-color:yellow;
}

/* Container for flexboxes */
/* .row {
    display: -webkit-flex;
    display: flex;
} */

/* Create three equal columns that sits next to each other */
.column {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
 height: 300px; /* Should be removed. Only for demonstration */
    border-color: black;
    border:solid;
}

/* Style the footer */
.footer {
    background-color: #f1f1f1;
    padding: 10px;
    text-align: center;
}

/* Responsive layout - makes the three columns stack on top of each other instead of next to each other */
@media (max-width: 600px) {
    .row {
      -webkit-flex-direction: column;
      flex-direction: column;
    }
}