.email-background {
  display: block;
  background-size: cover;

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

.email-box {
  box-sizing: border-box;
  background-color: #F9F9F9;

  /* margin:10% auto; */
  margin: 10% auto;
  max-width: 900px;
  padding-top: 15px;
  padding-bottom: 2%;
  border: 0.1px solid #fff;
  box-shadow: 5px 5px 10px rgba(245, 248, 248, 0.45);
  border-radius: 2%;
  border-color: black;
  text-align: center;
}
.email-body {
  padding: 10% 10%;
}

.email-text {
  font-size: 12px;
  padding: 2% 2%;
}

@media (max-width: 767px) {
  .email-box {
    display: block;
    margin: 10% auto;
    max-width: 800px;
    padding-top: 15px;
    padding-bottom: 2%;
    border: 0.1px solid #fff;
    box-shadow: 5px 5px 10px rgba(245, 248, 248, 0.45);
    border-radius: 2%;
    border-color: black;
    text-align: center;
    background-color:#FFFFFF;
  }
}
