/* input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
} */

.login-backgorund{
    background-image: url("https://s3-us-west-1.amazonaws.com/fluffybugtracker/SSGTHB82F6.jpg");
    
    text-align: center;
  background-repeat: no-repeat;
  /* background-attachment: scroll;
  background-position: center; */
  /* -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover; */
  background-size: cover;
  height:600px;

}

button {
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    border-color: black;
}

button:hover {
    opacity: 0.8;
}





/* Change styles for span and cancel button on extra small screens */
@media screen and (max-width: 300px) {
    span.psw {
       display: block;
       float: none;
    }
    .cancelbtn {
       width: 100%;
    }
}