
.login-backgorund{
    background-image: url("https://s3-us-west-1.amazonaws.com/fluffybugtracker/SSGTHB82F6.jpg");
  
     /* Full height */
     height: 100%; 

     /* Center and scale the image nicely */
     background-position: center;
     background-repeat: no-repeat;
     background-size: cover;
  
}

 input[type="text"],
 input[type="password"] {
  max-width:400px;
	width: 80%;
  line-height:3em;
  font-family: 'Ubuntu', sans-serif;
  margin:1em 2em;
  border-radius:5px;
  border:2px solid #f2f2f2;
  outline:none;
  padding-left:10px;
}

.a{
    text-decoration: none
}