.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-template-rows: auto auto;
  grid-gap: 0px;
  padding: 20px;
  grid-auto-flow: row;
}
.grid-container > div {
  text-align: center;
  padding: 5% 5%;
  font-size: 20px;
}

.panel-body {
  height: 80px;
  width: 120px;
}
.profile-pic {
  height: 80px;
  width: 120px;
  border-radius: 50%;
  align-items: center;
  /* margin-left:20% */
  margin: 0 auto;
}

.panel-heading {
  font-size: 10px;
}

.panel-footer {
  font-size: 10px;
}

@media (max-width: 769px) {
  .profile-pic {
    height: 70px;
    width: 70px;
    border-radius: 50%;
  }
}

@media (min-width: 770px) {
  .profile-pic {
    height: 80px;
    width: 80px;
    border-radius: 50%;
  }
  .panel-heading {
    font-size: 20px;
  }

  .panel-footer {
    font-size: 15px;
  }
}
