.search-background {
  background-image: url("https://usatechsolutions.com/wp-content/uploads/2017/04/dev-1.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
}

.search-parent {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 70%;
  height: 30%;
  margin: 0 auto;
  justify-content: space-around;
  align-items: center;
  align-content: flex-start;
  border: solid black;
  border: 0.2px solid #fff;
  border-radius: 10px;
  box-shadow: 5px 10px 8px #888888;
}

.search-parent input {
  border-radius: 21px;
  outline: none;
  padding: 9px 34px 8px 12px;
  font-size: 12px;
  border: 1px solid #2aabe2;
  width: 100%;
  padding: 10px 10x;
  margin: 50px 50px;
  height: 20%;
}

@media (max-width: 767px) {
  .search-parent {
    width: 90%;
  }

  .search-parent input {
    max-width: 80%;
  }
}
