.admin-dashboard {
  background-image: url("http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg");
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
  overflow: auto;
}

.nav-side-menu {
  position: fixed;
  width: 100%;
  margin-bottom: 10px;
}
.admin-pic {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

h1 {
  color: white;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  color: black;
  background-color: lightblue;
}

th {
  background-color: #2a2b34;
  color: white;
}

/* 
FOR desktop */
@media (min-width: 769px) {
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
  .nav-side-menu {
    height: 100%;
    width: 20%;
    display: inline-block;
    margin: 0;
  }
  .admin-items {
    width: 76%;
    height: 100%;
    display: inline-block;
    float: right;
    margin: 20px 30px;
  }
  .navitem {
    display: block;
    width: 200px;
    height: auto;
    padding: 5px;
  }

  .nav-side-menu {
    height: auto;
    font-size: 8px;
    font-weight: 0;
  }
  .panel-heading {
    font-size: 10px;
  }
  .panel-body {
    height: 120px;
    width: 100px;
  }
  .panel-footer {
    font-size: 10px;
  }
}

/* // for mobile/tablets */
@media (max-width: 768px) {
  .profile-pic {
    height: 30x;
    width: 30px;
    align-content: center;
  }
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
    background-color: YELLOW;
  }

  .panel-heading {
    font-size: 10px;
  }
  .panel-body {
    height: 60px;
    width: 100px;
  }
  .panel-footer {
    font-size: 10px;
  }
  .nav-side-menu {
    height: auto;
    font-size: 8px;
    font-weight: 0;
  }
  .admin-dashboard {
    display: block;
    margin-bottom: 20px;
  }

  table {
    font-size: 12px;
  }
  th,
  td {
    text-align: left;
    padding: 2%;
    margin: 0 auto;
  }
}
