.nav-side-menu {
  overflow: auto;
  font-family: verdana;
  font-size: 10px;
  /* font-weight: 200; */
  background-color: #2e353d;
  position: relative;
  top: 0px;
  width: 250px;
  height: 100%;
  color:white;
}

.admin-dashboard {
  background-image: url('http://wallpoper.com/images/00/31/33/51/black-background_00313351.jpg');
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height:100vh;
  /* display: flex; */
}
.admin-pic{
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

h1 {
  color: white;
}
table {
  border-collapse: collapse;
  width: 100%;
  margin-left: 2%;
  margin-right: 2%;
}

th,
td {
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #f2f2f2;
}
tr:nth-child(odd) {
  color: black;
  background-color: lightblue;
}

th {
  background-color: #2A2B34;
  color: white;
}
@media (max-width: 769px) {
  .nav-side-menu {
    position: relative;
    width: 100%;
    margin-bottom: 10px;
  }
  .admin-name{
    display: none;
  }
  .nav-side-menu .toggle-btn {
    display: block;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 10px;
    z-index: 10 !important;
    padding: 3px;
    background-color: #ffffff;
    color: #000;
    width: 40px;
    text-align: center;
  }
  .brand {
    text-align: left !important;
    font-size: 22px;
    padding-left: 20px;
    line-height: 50px !important;
  }
}
@media (min-width: 767px) {
  .nav-side-menu .menu-list .menu-content {
    display: block;
  }
  #main {
    width: calc(100% - 300px);
    float: left;
  }
}

/* // form mobile */
@media (max-width: 376px) {
  /* .main-sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  } */

  .profile-pic {
    height: 40px;
    width: 40px;
    align-content: center;
  }
  .panel-heading {
    font-size: 10px;
  }
  .panel-body {
    height: 60px;
    width: 100px;
  }
  .panel-footer {
    font-size:10px;
  }
  .nav-side-menu {
    height: auto;
    font-size: 8px;
    font-weight: 0;
  }
  .admin-dashboard {
    display: block;
    margin-bottom: 20px;
  }
 
table{
  font-size:12px;
}
th,
td {
  text-align: left;
  padding: 2%;
  margin:0 auto;
 
}

}
