body, html {
  height: 100%;
}

/* body {
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
} */
a:hover,
a:focus {
  color: lightblue;
  text-decoration: underline;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  display: block;
}

input{
  /* padding:5px 5px; */
}
.box {
  box-sizing: border-box;
  display:auto;
  min-width:350px;
  margin: 0 auto;
  max-width: 500px;
padding:3% 3%;
  border: 0.1px solid #fff;
  box-shadow: 5px 5px 10px rgba(28, 42, 117, 0.45);
  border-radius: 2%;
  border-color: black;
  text-align: center;
}
.box:hover {
  cursor: pointer;
  box-shadow: rgba(17, 206, 162, 0.3) 0px 2px 30px;
  color: rgb(52, 52, 52);
}

.admin-heading-text {
  font-size: 20px;
  text-align: center;
  color: white;
}

.admin-heading-text label {
  color: white !important;
}

.filter-user {
  display: block;
  width: 600px;
  /* float:right; */
}
.container{
   width: 100%;
  }
/* .filter-button {
  padding: auto 5px;
  margin: 2% 2%;
  width: 100px;
  background-color: lightblue;
} */

.grid-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
  grid-gap: 10px;

  padding: 10px;
}

a{
  color:white;
  text-decoration: none;
  font-size:15px;
  
}

.center-text{
 text-align: center;
 padding:10px 10px;
}


@media (min-width: 768px) {
  /* For mobile phones: */
  .box {
    margin-top: 5%;
  }
  .button{
    font-size:15px;
  }
}

@media (min-width: 1100px) {
  .box {
    margin-top: 5%;
  }
}




@media only screen and (max-width : 320px) {

  .box{
    margin:10px 10x;
    background-color:yellow;
  }
}

/* Extra Small Devices, Phones */ 
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}