body {
  
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  min-height: 100vh;
  height: 100%;
}
a:hover,
a:focus {
  color: lightblue;
  text-decoration: underline;
}

textarea {
  width: 100%;
  height: 150px;
  padding: 12px 20px;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  background-color: #f8f8f8;
  resize: none;
  display: block;
}
.box {
  box-sizing: border-box;
  /* margin:10% auto; */
  display:auto;
  width:400px;
  margin: 0 auto;
  max-width: 500px;
padding:3% 3%;
  border: 0.1px solid #fff;
  box-shadow: 5px 5px 10px rgba(28, 42, 117, 0.45);
  border-radius: 2%;
  border-color: black;
  text-align: center;
  /* background-color:lightblue; */
}
.box:hover {
  cursor: pointer;
  box-shadow: 1px 10px 10px 5px rgba(0, 0, 0, 0.45);
}

.admin-heading-text {
  font-size: 20px;
  text-align: center;
  color: white;
}

.admin-heading-text label {
  color: white !important;
}

.filter-user {
  display: block;
  width: 600px;
  /* float:right; */
}
/* .container{
    margin:10px 10px;
  } */
.filter-button {
  padding: auto 5px;
  margin: 2% 2%;
  width: 100px;
  background-color: lightblue;
}

.navbar {
  position: relative;
  min-height: 50px;
  background-color: black;
  /* margin-bottom: 20px; */
  border: 1px solid transparent;
  margin-bottom: 0px;
}
@media (max-width: 767px) {
  .navbar {
    background-color: grey;
  }
}

.grid-container {
  display: grid;
  justify-content: space-around;
  grid-template-columns: 50px 50px 50px; /*Make the grid smaller than the container*/
  grid-gap: 10px;

  padding: 10px;
}

a{
  color:white;
  text-decoration: none;
  font-size:20px;
  font-family: ProximaNova,Helvetica,Arial,sans-serif;
  font-weight: 400;
    font-style: normal;
    color: inherit;
    text-rendering: optimizeLegibility;
}